{# Each course item in the item list #}
{# Context should have 'item' set to an object #}

{% load static %}

<li class="course-item draggable drag-target" data-drag-type='line-insertion' data-drag-target-class='course-item'>
  <div class="grid-drag">
    <img class="drag-icon drag-hotspot" src="{% static 'shared/icons/drag_indicator.svg' %}" alt="drag icon"/>
  </div>

  <div class="grid-icon">

  {% if item.content_type == 'U' %} {# for 'URL' #}
    <!-- <a href="{{item.url_content}}"> -->
      <img class="item-icon" src="{% static 'shared/icons/link.svg' %}" alt="link icon"/>
    <!-- </a> -->
  {% else %}
    <a href="{{item.get_absolute_url}}">
      <img class="item-icon" src="{% static 'shared/icons/file.svg' %}" alt="file icon"/>
    </a>
  {% endif %}

  </div>
  <div class="item-name grid-name">
    {% if item.content_type == 'U' %} {# for 'URL' #}
      <a href="{{item.url_content}}">{{ item.name }}</a>
    {% else %}
      <a href="{{item.get_absolute_url}}">{{ item.name }}</a>
    {% endif %}
  </div>
  <div class="item-details grid-desc">
    {{ item.description }}
  </div>
  <div class="grid-popup">
    <img
      class="item-popup clickable grid-popup"
      onclick="PopupMenu.do_popup(this, CourseItemList.ListElement.menu)"
      data-course-id="{{course.id}}"
      data-edit-url="{% url 'course_item_update' course_id=course.id item_id=item.id%}"
      src="{% static 'shared/icons/more_vert.svg' %}" alt="popup icon"/>
  </div>

</li>
