{# Each course item in the item list #}
{# Context should have 'item' set to an object #}

{% load static %}

<li class="course-item draggable">
  <img class="drag-icon drag-hotspot" src="{% static 'shared/icons/drag_indicator.svg' %}" alt="drag icon"/>
  {% if item.content_type == 'U' %} {# for 'URL' #}
    <a class="object-icon" href="{{item.url_content}}">
      <img src="{% static 'shared/icons/link.svg' %}" alt="link icon"/>
    </a>
  {% else %}
    <a class="object-icon" href="{{item.get_absolute_url}}">
      <img src="{% static 'shared/icons/file.svg' %}" alt="file icon"/>
    </a>
  {% endif %}
  <div class="object-name">
    {% if item.content_type == 'U' %} {# for 'URL' #}
      <a href="{{item.url_content}}">{{ item.name }}</a>
    {% else %}
      <a href="{{item.get_absolute_url}}">{{ item.name }}</a>
    {% endif %}
  </div>
  <div class="object-details">
    {{ item.description }}
  </div>
  <span class="object-popup clickable">
    <img
      onclick="BCM.PopupMenu.do_popup(this, BCM.CourseItemList.ListElement.menu)"
      data-course-id="{{course.id}}"
      data-edit-url="{% url 'course_item_update' course_id=course.id item_id=item.id%}"
      src="{% static 'shared/icons/more_vert.svg' %}" alt="popup icon"/>
  </span>
</li>
