{# Each course item in the item list #}
{# Context should have 'item' set to an object #}

{% load static %}

{% if is_instructor or item.visible %}

<li id="course-item:{{item.id}}" class="course-item draggable drag-target {% if not item.visible %}not-visible{%  endif %}"
  data-item-id="{{item.id}}"
  data-item-visibility="{% if item.visible %}visible{% else %}hidden{% endif %}"
  data-update-url="{% url 'courseitem_update' course_id=course.id item_id=item.id%}"
  data-drag-type='abovebelow'
  data-drag-target-selector='.course-item, .course-item-heading'>
  <div class="grid-drag">
    {% if is_instructor %}
    <img class="drag-icon drag-hotspot" src="{% static 'shared/icons/drag_indicator.svg' %}" alt="drag icon"/>
    {% endif %}
  </div>

  <div class="grid-icon">

  {% if item.content_type == 'U' %} {# for 'URL' #}
    <!-- <a href="{{item.url_content}}"> -->
      <img class="item-icon" src="{% static 'shared/icons/link.svg' %}" alt="link icon"/>
    <!-- </a> -->
  {% else %}
    <a href="{{item.get_absolute_url}}">
      <img class="item-icon" src="{% static 'shared/icons/file.svg' %}" alt="file icon"/>
    </a>
  {% endif %}

  </div>
  <div class="item-name grid-name">
    {% if item.content_type == 'U' %} {# for 'URL' #}
      <a href="{{item.url_content}}">{{ item.name }}</a>
    {% else %}
      <a href="{{item.get_absolute_url}}">{{ item.name }}</a>
    {% endif %}
  </div>
  <div class="item-details grid-desc">
    {{ item.description }}
  </div>
  <div class="grid-popup">
    {% if is_instructor %}
    <div class="popup-container">
    <img
      class="item-popup clickable grid-popup"
      onclick="PopupMenu.doPopup(CourseItemList.Menus.getCourseItemMenu(document.getElementById('course-item:{{item.id}}')),this)"
      src="{% static 'shared/icons/more_vert.svg' %}" alt="popup icon"/>
    </div>
    {% endif %}
  </div>

</li>

{% endif %}
