{% extends 'shared/appview_base.html' %}
{% load static %}

{% block title_text %}{{course.name}} - {{page_name_pretty}}{% endblock %}
{% block topbar_text %}{{course.name}} - {{page_name_pretty}}{% endblock %}


{% block navbar_items %}
  {% if page_name == 'course_items' %}
    <div>Materials</div>
  {% else %}
    <a href="{% url 'course_item_list' course_id=course.id %}">Materials</a>
  {% endif %}

  {% if page_name == 'course_assignments' %}
    <div>Assignments</div>
  {% else %}
    <a href="{% url 'course_assignment_list' course_id=course.id %}">Assignments</a>
  {% endif %}

  {% if page_name == 'course_gradebook' %}
    <div>Gradebook</div>
  {% else %}
    <a href="{% url 'course_gradebook' course_id=course.id %}">Gradebook</a>
  {% endif %}

  {% if page_name == 'course_settings' %}
    <div>Course Settings</div>
  {% else %}
    <a href="{% url 'course_settings' course_id=course.id %}">Course Settings</a>
  {% endif %}
{% endblock %}

{% block navbar_drawer_items %}
  {% if page_name != 'course_items' %}
    <a href="{% url 'course_item_list' course_id=course.id %}">Materials</a>
  {% endif %}

  {% if page_name != 'course_assignments' %}
    <a href="{% url 'course_assignment_list' course_id=course.id %}">Assignments</a>
  {% endif %}

  {% if page_name != 'course_gradebook' %}
    <a href="{% url 'course_gradebook' course_id=course.id %}">Gradebook</a>
  {% endif %}

  {% if page_name != 'course_settings' %}
    <a href="{% url 'course_settings' course_id=course.id %}">Course Settings</a>
  {% endif %}

{% endblock %}
