@media only screen and (min-width: 450px) {
  .navbar-condensed {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 449px) {
  .navbar-condensed {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}

.course-item {
  /* Container with three children: icon, name, details */
  display: grid;
  grid:
    "e a b d"
    "e a c d"
    / min-content min-content auto min-content;
}

.course-item .drag-icon {
  grid-area: e;
  width: 2em;
  height: 2em;
  visibility: hidden;
}

.course-item:hover .drag-icon {
  visibility: visible;
}

.course-item .object-icon {
  grid-area: a;
  margin-right: 1em;
}

.object-icon img {
  width: 2em;
  height: 2em;
}

.course-item .object-name {
  grid-area: b;
}

.course-item .object-details {
  grid-area: c;
}

.course-item .object-popup {
  grid-area: d;
  margin-left: 1em;
  width: 1.2em;
  height: 1.2em;
}

.course-item-heading {
  display: flex;
}

.course-item-heading .drag-icon {
  flex: 0;
  visibility: hidden;
  width: 2em;
  height: 2em;
}

.course-item-heading:hover .drag-icon {
  flex: 1;
  visibility: visible;
}
