@media only screen and (min-width: 450px) {
  .navbar-condensed {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 449px) {
  .navbar-condensed {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}
