@media only screen and (min-width: 450px) {
  .navbar-condensed {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 449px) {
  .navbar-condensed {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}

ul.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  padding: 0.2em;
  margin: 0;
}

.item-list li.course-item-heading {
  margin-top: 2em;
}

.course-item, .course-item-heading {
  border-top: 2px solid #00000000;
  border-bottom: 2px solid #00000000;
}

.course-item {
  /* Container with three children: icon, name, details */
  display: grid;
  grid:
    "drag icon name popup"
    ".    .    desc ."
    / min-content min-content 1fr min-content;
  align-items: center;
}

.course-item .grid-drag {
  grid-area: drag;

}

.course-item .grid-icon {
  grid-area: icon;
}

.course-item .grid-name {
  grid-area: name;

}

.course-item .grid-desc {
  grid-area: desc;
}
.course-item .grid-popup {
  grid-area: popup;

}

.course-item .drag-icon {
  width: 1.4em;
  height: 1.4em;
  visibility: hidden;
}

.course-item:hover .drag-icon {
  visibility: visible;
}

.course-item .item-icon {
  margin-right: 1em;
  width: 1.8em;
  height: 1.8em;

}

.course-item .item-name {
  font-weight: bold;
  font-size: 110%;
}

.course-item .item-details {

}

.course-item .item-popup {
  margin-left: 1em;
  width: 1.4em;
  height: 1.4em;
}

.course-item-heading {
  display: flex;
  align-items: center;
}

.course-item-heading .drag-icon {
  visibility: hidden;
  width: 1.4em;
  height: 1.4em;
}

.course-item-heading:hover .drag-icon {
  visibility: visible;
}

.course-item-heading .item-heading-name {
  flex: 1;
  font-weight: bold;
  font-size: 120%;
}

.course-item-heading .item-heading-popup {
  width: 1.4em;
  height: 1.4em;
}

.pending-delete {
  background-color: #FF000010;
}
