{% extends 'dashboard/dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard_base.css' %}"/>
  <link rel="stylesheet" href="{% static 'shared/css/appview_simple.css' %}"/>
{% endblock %}

{% block main_content %}
  <h1>Create a Course</h1>

  <p>Fill out the form below to create your own course.</p>

  <form action="{% url 'create_course' %}" method="post">
    {% if form.errors %}
      <p class="error-notice">There were errors in your submission.</p>
      {{ form.non_field_errors }}
    {% endif %}
    {% csrf_token %}
    <div class="form-line">
      <label for="{{form.name.id_for_label}}">Name: <img class="icon drawer-toggle clickable" data-drawer-id="name_help" src="{% static 'shared/icons/help.svg' %}" alt="question mark icon"> </label>
      <div class="drawer help" data-drawer-id="name_help">
        {{form.name.help_text}}
      </div>
      {% render_field form.name style="width: 100%" %}
      {{ form.name.errors }}
    </div>
    <div class="form-line">
      <label for="{{form.code.id_for_label}}">Code: <img class="icon drawer-toggle clickable" data-drawer-id="code_help" src="{% static 'shared/icons/help.svg' %}" alt="question mark icon"> </label>
      <div class="drawer help" data-drawer-id="code_help">
        {{form.code.help_text}}
      </div>
      {% render_field form.code %}
      {{ form.code.errors }}
    </div>
    <div class="form-line">
      <label for="{{form.password.id_for_label}}">Password: <img class="icon drawer-toggle clickable" data-drawer-id="pass_help" src="{% static 'shared/icons/help.svg' %}" alt="question mark icon"> </label>
      <div class="drawer help" data-drawer-id="pass_help">
        {{form.password.help_text}}
      </div>
      {% render_field form.password %}
      {{ form.password.errors }}
    </div>
    <input type="submit" name="submit" value="Create Course"/>
  </form>

{% endblock %}
