main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  width: 100%;
}

section ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }

  section {
    width: 30em;
  }
}
